<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <span>Asignar Talleres a Grupos de Edad</span>
    <button class="btn btn-primary" (click)="guardarCambios()">Guardar Cambios</button>
  </div>
  <div class="card-body">
    <form class="row mb-3">
      <div class="col-md-4">
        <label for="localSelect">Locales</label>
        <select class="form-control form-control-sm"  bindLabel="nombre" bindValue="id" [(ngModel)]="localSeleccionado" name="localSelect" placeholder="Seleccione un local" (change)="onLocalChange()">
            <option value="">Seleccione un local</option>
            <option *ngFor="let local of locales" [value]="local.id">
                {{ local.descripcion }}
            </option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="etapaSelect">Etapa</label>
        <select class="form-control form-control-sm" bindLabel="nombre" bindValue="id" [(ngModel)]="etapaSeleccionada" name="etapaSelect" placeholder="Seleccione una etapa" (change)="onEtapaChange()">
            <option value="">Seleccione una etapa</option>
            <option *ngFor="let etapa of etapas" [value]="etapa.idEtapa">
                {{ etapa.descripcionEtapa }}
            </option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="grupoEdadSelect">Grupo Edad</label>
        <select class="form-control form-control-sm" bindLabel="nombre" bindValue="id" [(ngModel)]="grupoEdadSeleccionado" name="grupoEdadSelect" placeholder="Seleccione grupo edad">
            <option value="">Seleccione grupo edad</option>
            <option *ngFor="let grupo of gruposEdad" [value]="grupo.id">
                {{ grupo.descripcion }}
            </option>
        </select>
      </div>
      <div class="col-md-12 mt-2">
        <button class="btn btn-success" type="button" (click)="buscar()">Buscar</button>
      </div>
    </form>
    <div class="row">
      <div class="col-md-12">
        <dual-list
          [source]="talleresPorAsignar"
          [(destination)]="talleresAsignados"
          [display]="'nombre'"
          [filter]="true"
          [height]="'200px'"
          (destinationChange)="onAsignadosChange($event)">
        </dual-list>
      </div>
    </div>
  </div>
</div>
